*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.strip {
    height: 20px;
}
header, section, footer {
    width: 100%;
}
/* header section */
header {
    height: 70px;
    margin-bottom: 20px;
}
.container {
    width: 90%;
    margin: 0 auto;
}
.row {
    display: flex;
}
/* logo */
.col1 {
    width: 30%;
    display: flex;
    align-items: center;
    height: 70px;
}
/* navigation */
.col2 {
    width: 70%;
    height: 70px;
}
nav {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: flex-end;
}
.nav a {
    padding: 8px 16px;
    text-decoration: none;
    color: #03416c;
    margin-right: 30px;
    font-size: 18px;
    border: 2px solid transparent;
}
.active, .nav a:hover {
    color:#00a5ec !important;
    border: 2px solid #00a5ec !important;
    border-radius: 16px;
}
.nav a:last-child {
    color: white !important;
    background-color: #03416c;
    border-radius: 16px;
    border: 2px solid #03416c !important;
    margin-right: 0px;
}
/* banner section */
.container-fluid {
    width: 100%;
    padding-bottom: 20px;
}
/* icon section */
.icon {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-bottom: 20px;
}
.icon img {
    height: 40px;
}
/* main and content section */
.row1 {
    display: flex;
    justify-content: space-between;
    padding-bottom: 40px;
}
.col3 {
    width: 30%;
}
.col4 {
    width: 70%;
}
.pad-b {
    line-height: 1.5;
}
/* search and category */
.pad-s {
    padding: 8px 0;
}
.pad-b li {
    padding-bottom: 8px;
}
.category h3 {
    padding: 16px 0;
}
/* search */
.search, .category {
    padding: 20px;
}
.search-bar {
    display: inline-flex;
    align-items: center;
    background-color: #f9fafb;
    border-radius: 10px;
}
.search-sym {
    color:#00a5ec;
}
.search-bar-input, .search-bar-input:focus, .search-bar-input:active {
    outline: none;
    border: 0px transparent;
}
.search-bar-input {
    padding: 6px 12px;
}
/* category */
.category ul{
    list-style-type: none;
}
.category ul li {
    padding-left: 15px;
}
/* items to be shop */
.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.col5 {
    padding-bottom: 30px;
}
.shop-list {
    border: 2px solid #ededed;
    width: 400px;
    height: auto;
    min-height: 450px;
    border-radius: 16px;
}
.shop-list h4, .shop-list p {
    padding:0 20px;
    line-height: 1.5;
}
.shop-list p {
    padding-bottom: 16px;
}
.bg-c-item {
    background-color: #f9fafb;
    padding: 20px 20px 0 20px;
    border-radius: 16px 16px 0 0;
}
.bg-c-item p {
    font-size: 18px;
    color: #00a5ec;
}
.shop-item {
    display: flex;
    justify-content: center;
}
.heart {
    display: flex;
    justify-content: flex-end;
}
.heart img {
    padding: 10px;
}
/* buttons */
.button {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}
.button span {
    padding-left: 10px;
}
.btn-cart {
    color: white;
    background-color: #03416c;
    font-size: 20px;
    padding: 8px 16px;
    display: flex;
    align-items: center;
    border: 2px solid #03416c;
    border-radius: 24px;
    cursor: pointer;
}
.add-cart {
    font-size: 20px;
    color: #00a5ec;
    padding: 8px 16px;
    background-color: #fff;
    border: 2px solid #03416c;
    border-radius: 24px;
    cursor: pointer;
}
/* row 2 */
.nxt-page {
    padding: 20px;
}
.nxt-page a {
    color: black;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    padding: 20px;
    margin-left: 30px;
}
.nxt-page span {
    font-size: 24px;
    font-weight: bold;
}
.active-page, .nxt-page a:hover {
    color: #fff !important;
    background-color: #03416c;
}
/* footer section */
footer {
    background-color: #03416c;
    color: #fff;
    font-size: 18px;
}
.about-us, .leatest-post {
    padding: 40px;
    width: 35%;
}

/* About Us */
.about-us {
    line-height: 1.5;
}
.fa-brands {
    color:#fff;
    margin-left: 20px;
}
.social-links {
    padding: 20px 20px 20px 0;
}

.about-us p:nth-child(3) {
    padding: 10px;
}
/* Quick links */
.quick-link {
    width: 30%;
    padding: 40px;
}
.quick-link ul {
    list-style-type: none;
    padding: 10px;
}
.quick-link ul li {
    padding-bottom: 10px;
}
.quick-link ul li a {
    text-decoration: none;
    color: #fff;
    line-height: 1.5;
}
/* leatest post */
.leatest {
    display: flex;
    padding: 20px 0;
}
.leatest-no {
    display: flex;
    align-items: center;
    justify-content: center;
}
.leatest-no h3 {
    color: #00a5ec;
}
.jan {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    border-right: 3px solid #00a5ec;
    padding: 2px 5px;
}
.jan-2 {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    padding: 5px 5px;
}
.leatest-news {
    padding-left: 16px;
}